################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/MinimalAPI_Second_Tirando_da_Program/FileContentIndex/2a509a7c-553c-4554-9e51-b0acb49cafb7.vsidx
/.vs/MinimalAPI_Second_Tirando_da_Program/FileContentIndex/42e6a514-e3b3-474f-a909-4428af93973b.vsidx
/.vs/MinimalAPI_Second_Tirando_da_Program/FileContentIndex/bfb20231-1ef9-4b60-b4ca-5de586d045f1.vsidx
/.vs/MinimalAPI_Second_Tirando_da_Program/FileContentIndex/d92841b8-b6c1-44b2-a31a-89f37d6c0506.vsidx
/.vs/MinimalAPI_Second_Tirando_da_Program/FileContentIndex/ddd027f2-d5d5-4d8d-895b-ccb93b9f153a.vsidx
